<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <% if(!docs) { %>
        <div class="no-content">
            <p>Sorry ! please contact support </p>
        </div>
    <% } else { %>
      <section class="content">
        <h1 class="heading"> <img src="/icons/subjects_64.png"> Subjects</h1>
            <ul>
                <% docs.forEach(subject => { %>
                    <li>
                        <a  style="text-align: center;" href="/subject/<%= subject.contentID %>">
                                <figure>
                                        <img src="/icons/book_128.png" alt="">
                                        <figcaption>
                                            <h2><%= subject.title %></h2>
                                            <p class="subtext">Year - <%= subject.year %>, Semester - <%= subject.semester %></p>
                                        </figcaption>
                                </figure>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
    <% } %>

<%- include('./partials/footer.ejs') %>
