<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <section class="content">
        <% if(error) { %>
            <div class="error">
                please reload the window or contact support 
            </div>
        <% } else { %>
        <h1 class="heading">Subjects</h1>
            <ul>
                <% docs.forEach(subject => { %>
                    <li>
                        <a href="/subject/<%= subject.contentID %>">
                                <figure>
                                        <img src="<%= subject.imageUrl %>" alt="">
                                        <figcaption>
                                            <h2><%= subject.title %></h2>
                                            <p>Year - <%= subject.year %>, Semester - <%= subject.semester %></p> 
                                        </figcaption>
                                </figure>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </section>
<%- include('./partials/footer.ejs') %>
 