<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>

    <% if (!content) { %>
        <div class="no-content">
            <h1>Sorry ! there is no content :( </h1>
        </div>
    <% } else { %>

        <section class="subjectTitle">
          <p> <%= content.subjectTitle %> </p>
        </section>

        <section class="content" style="margin-top: -50px">


            <h1 class="heading"> <img src="/icons/book_64.png"> EBooks</h1>

            <% if (content.ebooks.length > 0) { %>

                <ul>

                    <% content.ebooks.forEach(ebook => { %>
                        <li>
                            <figure class="figure-content">
                                <img src="/icons/ebook.png" alt="<%= ebook.title %>">
                                <figcaption>
                                    <h2><%= ebook.name %></h2>
                                    <p>
                                        <a class="download-button" href="<%= ebook.path %>">
                                            Download
                                        </a>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>

                </ul>
            <% } else { %>

                <p class="subtext">No Ebooks as of now for this subject</p>

            <% } %>

        </section>


        <section class="content">


                <h1 class="heading">  <img src="/icons/notes_64.png"> ENotes</h1>

                <% if (content.enotes.length > 0) { %>

                    <ul>

                        <% content.enotes.forEach(enote => { %>
                            <li>
                                <figure class="figure-content">
                                    <img src="/icons/enotes.png" alt="<%= enote.name %>">
                                    <figcaption>
                                        <h2><%= enote.name %></h2>
                                        <p>
                                            <a class="download-button" href="<%= enote.path %>">
                                                Download
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </li>
                        <% }) %>

                    </ul>
                <% } else { %>

                    <p class="subtext">No E-Notes as of now for this subject</p>

                <% } %>

        </section>

        <section class="content">


                <h1 class="heading">  <img src="/icons/papers_64.png"> Previous Papers</h1>

                <% if (content.papers.length > 0) { %>

                    <ul>

                        <% content.papers.forEach(paper => { %>
                            <li>
                                <figure class="figure-content">
                                    <img src="/icons/epaper.png" alt="<%= paper.name %>">
                                    <figcaption>
                                        <h2><%= paper.name %></h2>

                                        <p>
                                            <a class="download-button" href="<%= paper.path %>">
                                                Download
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </li>
                        <% }) %>

                    </ul>
                <% } else { %>

                    <p class="subtext">No Previous Year Exam Papers as of now for this subject</p>

                <% } %>

        </section>

    <% } %>
<%- include('./partials/footer.ejs') %>
