<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>

    <% if (!content) { %>
        <div class="no-content">
            <p>no content ! sorry</p>
        </div>
    <% } else { %>
        <section class="content">


            <h1 class="heading">EBooks</h1>
            
            <% if (content.ebooks.length > 0) { %>
            
                <ul>

                    <% content.ebooks.forEach(ebook => { %>
                        <li>
                            <figure>
                                <img src="/icons/ebook.png" alt="<%= ebook.title %>"> 
                                <figcaption>
                                    <h2><%= ebook.title %></h2> 
                                    <p>
                                        <a href="<%= ebook.path %>">
                                            Download
                                        </a>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>

                </ul>
            <% } else { %>
            
                <p>No Ebooks as of now for this subject</p>
            
            <% } %>
        
        </section>
        
        
        <section class="content">


                <h1 class="heading">ENotes</h1>

                <% if (content.enotes.length > 0) { %>
            
                    <ul>
    
                        <% content.enotes.forEach(enote => { %>
                            <li>
                                <figure>
                                    <img src="/icons/enotes.png" alt="<%= enote.title %>"> 
                                    <figcaption>
                                        <h2><%= enote.title %></h2> 
                                        <p>
                                            <a href="<%= enote.path %>">
                                                Download
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </li>
                        <% }) %>
                        
                    </ul>
                <% } else { %>
                
                    <p>No E-Notes as of now for this subject</p>
                
                <% } %>
            
        </section>

        <section class="content">


                <h1 class="heading">Previous Exam Papers</h1>

                <% if (content.papers.length > 0) { %>
            
                    <ul>
    
                        <% content.papers.forEach(paper => { %>
                            <li>
                                <figure>
                                    <img src="/icons/epaper.png" alt="<%= paper.title %>"> 
                                    <figcaption>
                                        <h2><%= paper.title %></h2> 
                                        
                                        <p>
                                            <a href="<%= paper.path %>">
                                                Download
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </li>
                        <% }) %>
                        
                    </ul>
                <% } else { %>
                
                    <p>No Previous Year Exam Papers as of now for this subject</p>
                
                <% } %>
            
        </section>

    <% } %>
<%- include('./partials/footer.ejs') %>